<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--estoy llamando a la pagina de los íconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fontawesome.com/v5/search?m=free" rel= "stylesheet"/>
    <!--estoy usando la fuente llamada "Monserrat y caveat"-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:ital,wght@0,200;0,300;1,100&family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
        <style>
            *{margin:0;padding: 0;box-sizing:border-box}
            @media (min-width:361px){
             
             }
             @media (min-width:769px){
                
             } 
        </style>

    <title>Producto</title>
</head>
<body>
    <header>
        <img href="/" class="encabezadologo" src='images/CordonDePlata.jpg' alt="logo">
        <div class="encabezadoIconos">
            <i class="iconotelefono"><i class="fas fa-phone-alt"></i></i> 
            <a href="/login" class="iconousuario"><i class="fas fa-user"></i></a>
            <a href="/carrito" class="iconocarrito"><i class="fas fa-shopping-cart"></i></a>
            <a href="/register" class="iconoregistro">Registrarse</a>
        </div>  
        <nav class="encabezadomenu">
            <p>Shop</p>
            <p>Regiones</p>
            <p>Top Ventas</p>
            <p>Oportunidades</p>
            <p>Contacto</p>
        </nav>
    </header>


    <Section>
        <h2 class="tituloProducto">Detalle del producto</h2>
        <div class="prodelegidoimagen"><img src="images/LuigiBoscaMalbec.png" alt=""></div>
        <div class="prodelegidoinfo">
            <p class="prodelegidobodega">Bodega: Luigi Bosca</p>
            <p class="prodelegidovariedad">Uva: Malbec</p>
            <p class="prodelegidoaño">Año cosecha: 2018</p>
            <p class="prodelegidopreciounitario">Precio x botella: $ 1.500</p>
            <p class="prodelegidopreciocaja">Precio x caja: $ 9.000</p>
        </div>
        <a href="/carrito"><div class="prodelegidoiconocarrito">Agregar al carrito:  <i class="fas fa-shopping-cart"></i></div></a>
    </Section>
    <!--El footer es reemplazable cuando lo modifique en el Index-->
    <footer>
        <ul class="footerCol1" type="none">
            <li>Contacto</li>
            <li>Prensa</li>
            <li>Noticias sobre vinos</li>
            <li>Aplicación</li>
        </ul>

        <ul class="footerCol2" type="none">
            <li>Empleos</li>
            <li>Políticas de privacidad</li>
            <li>Mapa del sitio</li>
            <li>Acerca de</li>
        </ul>

        <ul class="footerRedes" type="none">
            <li>Seguinos en: </li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>   
</footer>

</body>
</html>